[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/development/seatime/django/seatime_app
ExecStart=/usr/bin/gunicorn \
	  --access-logfile - \
	  --workers 3 \
	  --bind unix:/run/gunicorn.sock \
	  seatime_app.wsgi:application

[Install]
WantedBy=multi-user.target